* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  position: relative;
}

.navbar {
  z-index: 5;
}
nav > div {
  align-items: baseline !important;
  z-index: 500;
}
ul {
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
}
.per {
  width: 20px;
  height: 20px;
}
.bt1 {
  font-weight: 600;
}
.animation {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #00df9a;
  margin-right: 10px;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-name: example;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
}
@keyframes example {
  0% {
    border: 8px solid black;
  }

  100% {
    border: 8px solid #54f0bf;
  }
}
.intro {
  padding-top: 200px;
}
.bg-black {
  background-color: black;
}
.bg-black2 {
  background-color: rgb(20, 20, 20);
}
.text-black {
  color: black;
}
a,
li,
.navbar-toggler-icon {
  color: white !important;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  text-align: center;
}
.fas {
  font-size: 30px;
}
.fw-black {
  font-weight: 900;
}
.text-green {
  color: #00df9a !important;
}
.bg-green {
  background-color: #00df9a;
}
h6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 14px;
}
.fa-arrow-right {
  font-size: 15px !important;
  padding: 10px;
  padding-right: 0px;
}
.divImg {
  width: 80%;
  height: auto;
}
.divDash {
  background-image: linear-gradient(black, #201e27);
}
.img {
  width: 100%;
  border-radius: 10px;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 5;
}
.carousel-inner {
  margin: auto;
}
.actv::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #00df9a;
  margin: auto;
  transition: all 0.2s;
}
.activ::after {
  content: "";
  display: block;
  height: 4px;
  width: 70%;
  background-color: #00df9a;
  margin: auto;
}
.actv:hover::after {
  width: 70%;
  transition: all 0.2s;
}
.navbarAnimation {
  height: 7vw;
  width: 7vw;
  background-color: rgba(0, 223, 154, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 20vh;
  right: 3vw;
  animation-name: a1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 40%;
}
.navbarAnimationleft {
  height: 7vw;
  width: 7vw;
  background-color: rgba(0, 223, 154, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 20vh;
  left: 3vw;
  animation-name: a1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 40%;
}
@keyframes a1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  .order-1 {
    order: 5 !important;
  }
  .order-2 {
    order: 1 !important;
  }
}
