* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Almarai', sans-serif !important;
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  position: relative;
}

.navbar {
  z-index: 5;
}
nav > div {
  align-items: baseline !important;
  z-index: 500;
}
ul {
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
}
.per {
  width: 20px;
  height: 20px;
}
.bt1 {
  font-weight: 600;
}
.animation {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #e0cf00;
  margin-left: -10px;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-name: example;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
}
@keyframes example {
  0% {
    border: 8px solid black;
  }

  100% {
    border: 8px solid #b3a400
  }
}
.intro {
  padding-top: 180px;
}
.bg-black {
  background-color: black;
}
.bg-black2 {
  background-color: rgb(20, 20, 20);
}
.text-black {
  color: black;
}
a,
li,
.navbar-toggler-icon {
  color: white !important;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  text-align: center;
}
.fas {
  font-size: 30px;
}
.fw-black {
  font-weight: 900;
}
.text-green {
  color: #e0cf00 !important;
}
.bg-green {
  background-color: #e0cf00;
}
h6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.fa-arrow-right {
  font-size: 18px !important;
  padding: 10px;
  padding-right: 0px;
}

.img {
  width: 100%;
  border-radius: 10px;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 5;
}
.carousel-inner {
  margin: auto;
}
.actv::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #e0cf00;
  margin: auto;
  transition: all 0.2s;
}
.activ::after {
  content: "";
  display: block;
  height: 4px;
  width: 70%;
  background-color: #e0cf00;
  margin: auto;
}
.actv:hover::after {
  width: 70%;
  transition: all 0.2s;
}
.navbarAnimation {
  height: 7vw;
  width: 7vw;
  background-color:rgba(224, 207, 0,.3);
  border-radius: 50%;
  position: absolute;
  top: 20vh;
  right: 3vw;
  animation-name: a1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 40%;
}
.border-y{
  border-color: #e0cf00 !important;
}
.navbarAnimationleft {
  height: 7vw;
  width: 7vw;
  background-color:rgba(224, 207, 0,.3);
  border-radius: 50%;
  position: absolute;
  top: 20vh;
  left: 3vw;
  animation-name: a1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 40%;
}
@keyframes a1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  .intro {
    padding-top: 80px;
  }
  .order-1 {
    order: 5 !important;
  }
  .order-2 {
    order: 1 !important;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  position: initial;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body > section:nth-child(6) > div.swiper.mySwiper.container.m-auto.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-rtl.swiper-backface-hidden > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal > span
{
  background-color: #e0cf00;
  width: 20px;
  height: 20px;
}
body > section:nth-child(6) > div.swiper.mySwiper.container.m-auto.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-rtl.swiper-backface-hidden > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom:25px !important;
  z-index: 999;
}
.shadow-y{
  border-radius: 15px;
  box-shadow: 1px 1px 30px 1px #e0cd0060,-1px -1px 30px 1px #e0cd0060;
}
.pill{
  border-radius: 50% !important;
  height: 320px !important;
/* padding: 85px !important; */
}
.m-h{
  min-height: 685px !important;
}